<div class="margin--tiny"><p>Margin tiny</p></div>
<div class="margin--small"><p>Margin small</p></div>
<div class="margin--default"><p>Margin default</p></div>
<div class="margin--large"><p>Margin large</p></div>
<div class="margin--huge"><p>Margin huge</p></div>

<div class="margin--bottom-tiny"><p>Margin bottom tiny</p></div>
<div class="margin--bottom-small"><p>Margin bottom small</p></div>
<div class="margin--bottom-default"><p>Margin bottom default</p></div>
<div class="margin--bottom-large"><p>Margin bottom large</p></div>
<div class="margin--bottom-huge"><p>Margin bottom huge</p></div>
<div class="margin--bottom-none"><p>Margin bottom none</p></div>

<div class="margin--top-tiny"><p>Margin top tiny</p></div>
<div class="margin--top-small"><p>Margin top small</p></div>
<div class="margin--top-default"><p>Margin top default</p></div>
<div class="margin--top-large"><p>Margin top large</p></div>
<div class="margin--top-huge"><p>Margin top huge</p></div>
<div class="margin--top-none"><p>Margin top none</p></div>

<div class="margin--left-tiny"><p>Margin left tiny</p></div>
<div class="margin--left-small"><p>Margin left small</p></div>
<div class="margin--left-default"><p>Margin left default</p></div>
<div class="margin--left-large"><p>Margin left large</p></div>
<div class="margin--left-huge"><p>Margin left huge</p></div>
<div class="margin--left-none"><p>Margin left none</p></div>

<div class="margin--right-tiny"><p>Margin right tiny</p></div>
<div class="margin--right-small"><p>Margin right small</p></div>
<div class="margin--right-default"><p>Margin right default</p></div>
<div class="margin--right-large"><p>Margin right large</p></div>
<div class="margin--right-huge"><p>Margin right huge</p></div>
<div class="margin--right-none"><p>Margin right none</p></div>

<div class="margin--horizontal-tiny"><p>Margin horizontal tiny</p></div>
<div class="margin--horizontal-small"><p>Margin horizontal small</p></div>
<div class="margin--horizontal-default"><p>Margin horizontal default</p></div>
<div class="margin--horizontal-large"><p>Margin horizontal large</p></div>
<div class="margin--horizontal-huge"><p>Margin horizontal huge</p></div>
<div class="margin--horizontal-none"><p>Margin horizontal none</p></div>
