<div class="padding--tiny"><p>padding tiny</p></div>
<div class="padding--small"><p>padding small</p></div>
<div class="padding--default"><p>padding default</p></div>
<div class="padding--large"><p>padding large</p></div>
<div class="padding--huge"><p>padding huge</p></div>

<div class="padding--bottom-tiny"><p>padding bottom tiny</p></div>
<div class="padding--bottom-small"><p>padding bottom small</p></div>
<div class="padding--bottom-default"><p>padding bottom default</p></div>
<div class="padding--bottom-large"><p>padding bottom large</p></div>
<div class="padding--bottom-huge"><p>padding bottom huge</p></div>
<div class="padding--bottom-none"><p>padding bottom none</p></div>

<div class="padding--top-tiny"><p>padding top tiny</p></div>
<div class="padding--top-small"><p>padding top small</p></div>
<div class="padding--top-default"><p>padding top default</p></div>
<div class="padding--top-large"><p>padding top large</p></div>
<div class="padding--top-huge"><p>padding top huge</p></div>
<div class="padding--top-none"><p>padding top none</p></div>

<div class="padding--left-tiny"><p>padding left tiny</p></div>
<div class="padding--left-small"><p>padding left small</p></div>
<div class="padding--left-default"><p>padding left default</p></div>
<div class="padding--left-large"><p>padding left large</p></div>
<div class="padding--left-huge"><p>padding left huge</p></div>
<div class="padding--left-none"><p>padding left none</p></div>

<div class="padding--right-tiny"><p>padding right tiny</p></div>
<div class="padding--right-small"><p>padding right small</p></div>
<div class="padding--right-default"><p>padding right default</p></div>
<div class="padding--right-large"><p>padding right large</p></div>
<div class="padding--right-huge"><p>padding right huge</p></div>
<div class="padding--right-none"><p>padding right none</p></div>

<div class="padding--horizontal-tiny"><p>padding horizontal tiny</p></div>
<div class="padding--horizontal-small"><p>padding horizontal small</p></div>
<div class="padding--horizontal-default"><p>padding horizontal default</p></div>
<div class="padding--horizontal-large"><p>padding horizontal large</p></div>
<div class="padding--horizontal-huge"><p>padding horizontal huge</p></div>
<div class="padding--horizontal-none"><p>padding horizontal none</p></div>

<div class="padding--vertical-tiny"><p>padding vertical tiny</p></div>
<div class="padding--vertical-small"><p>padding vertical small</p></div>
<div class="padding--vertical-default"><p>padding vertical default</p></div>
<div class="padding--vertical-large"><p>padding vertical large</p></div>
<div class="padding--vertical-huge"><p>padding vertical huge</p></div>
<div class="padding--vertical-none"><p>padding vertical none</p></div>
