<div class="column padding--default">
    <div class="width--optimal">
        <h2>Including a Pattern Example</h2>

        <p>To add a new pattern example, you will first need to login to the website via the WordPress login form at <a href="/wp-login">/wp-login</a>.</p>

        <p>Once logged in, navigate to the "Game Example" menu item on the dashboard and select the child "Add New"</p>

        <img class="margin--bottom-default" src="http://i.imgur.com/17YoNIH.png" alt="From within the WordPress dashboard, navigate to Game Example and then the child item Add New.">

        <h3>Page Fields</h3>

        <h4>Title</h4>

        <h5 class="text--grey">Example: GTA IV - Mini Map</h5>

        <p>The title will be used to identify the pattern example from within the WordPress dashboard and functions.</p>

        <h4>Description</h4>

        <p>The description field should be used to write a short description about the component, the current theme does not include this but may in the future.</p>

        <h4>Display Title</h4>

        <h5 class="text--grey">Example: GTA IV</h5>

        <p>The title field will be displayed on the front end of the Game UI Pattern page.</p>

        <h4>Featured Image</h4>

        <p>This image will be used throughout the website to represent the pattern example.</p>

        <h3>Attatching to a Game Pattern Component</h3>

        <img src="http://i.imgur.com/B3bs8Zu.png" alt="The create connections form on the page allows for components and examples to link">

        <p>To link your example to an existing component, you will need to connect the example to the related component. This form can be found beneath the featured image field on the page editor page.</p>
    </div>
</div>
