/**
 * -----------------------------------------------------------------------------
 * $BOX
 * -----------------------------------------------------------------------------
 */

/**
 * Element that contains other element.
 */

.box {
    box-sizing: border-box;
    display: block;
    position: relative;
}
