/**
 * -----------------------------------------------------------------------------
 * $EXAMPLES
 * -----------------------------------------------------------------------------
 */

.examples {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    color: $color-white;

    @include bp-min-width($bp-tablet) {
        flex-direction: row;
        justify-content: flex-start;
    }

    & > .examples__item {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $spacing-default;
        width: 100%;

        text-align: center;

        &:last-child { margin-bottom: 0; }

        div {
            width: 100%; 
        }

        h4 {
            margin-bottom: 0;
            margin-right: 0;
        }

        @include bp-min-width($bp-tablet) {
            width: 50%;
            flex-direction: row;
            justify-content: center;
            padding: $spacing-small;

            h4 {
                margin-right: 0;
            }
        }

        @include bp-min-width($bp-desktop-medium) {
            width: 33.333%;
        }

        @include bp-min-width($bp-desktop-large) {
            width: 25%;
        }
    }

    &__thumbnail {
        min-width: 100%;
        margin-bottom: $spacing-small;
    }
}
