/**
 * -----------------------------------------------------------------------------
 * $LIST
 * -----------------------------------------------------------------------------
 */

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .list__item {
        box-sizing: border-box;
        position: relative;
    }

.list--double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp-min-width($bp-tablet) {
        flex-direction: row;
    }

    > .list__item {
        margin-bottom: $spacing-default;

        @include bp-min-width($bp-tablet) {
            width: 45%;
        }
    }
}

/**
 * Add bullet points to each list item.
 */
.list--bullets {
    @include rem(padding-left, $spacing-small * 3);

    > .list__item {
        list-style: disc;
    }
}

/**
 * Add a dividing border between each list item.
 */
.list--divided {
    > .list__item {
        padding-bottom: $spacing-tiny;
        padding-top: $spacing-tiny;

        border-bottom: 1px solid $color-grey-light;

        &:last-child { border-bottom: 0; }
    }
}
