/**
 * -----------------------------------------------------------------------------
 * $LOGO
 * -----------------------------------------------------------------------------
 */

.logo {

    @include bp-min-width($bp-desktop) {
        padding-top: $spacing-large;
    }

    a {
        align-items: center;
        display: block;

        @include bp-min-width($bp-mobile-large) {
            display: flex;

        }

        @include bp-min-width($bp-desktop) {
            display: block;
        }

        color: $color-black;
        text-decoration: none;
    }
}

.logo__icon {
    display: none;

    margin-left: auto;
    margin-right: $spacing-small;
    max-width: 100px;
    width: 100%;

    @include bp-min-width($bp-mobile-large) {
        display: block;
    }

    @include bp-min-width($bp-desktop) {
        margin-bottom: $spacing-small;
        margin-right: auto;
    }
}

.logo__text {
    font-weight: $font-weight-bold;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-large;
        text-align: center;
    }
}
