/**
 * -----------------------------------------------------------------------------
 * $RATE
 * -----------------------------------------------------------------------------
 */

.rate {
    margin-right: $spacing-small;
    min-width: 50px;
    text-align: center;
}

.rate__control {
    cursor: pointer;

    svg {
        max-width: $spacing-default;
        fill: $color-white;

        @include active-states() {
            fill: $color-orange;
        }
    }

    &--down {
        svg {
            transform: rotate(180deg);
        }
    }

    &--voted {
        svg {
            fill: $color-orange;

            @include active-states() {
                fill: lighten($color-orange, 10%);
            }
        }
    }
}
