/**
 * -----------------------------------------------------------------------------
 * $RATE
 * -----------------------------------------------------------------------------
 */

.rate {
    &--voted{
        display: none;
        transition: (all 0.3s);
    }
}

.rate__control {
    cursor: pointer;

    svg {
        max-width: $spacing-default;
        fill: $color-white;

        @include active-states() {
            fill: $color-primary;
        }
    }

    &--down {
        svg {
            transform: rotate(180deg);
        }
    }

    &--voted {
        svg {
            fill: $color-primary;
        }
    }
}

.rate--voted:before{
    content: attr(data-text);
}
