/*/////////////////////////////////////////
/// ASIDE
*/////////////////////////////////////////

aside {
    background-color: $color-white-off;

    @include bp-min-width($bp-tablet) {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100px;
    }
}
