/**
 * -----------------------------------------------------------------------------
 * $BUTTON
 * -----------------------------------------------------------------------------
 */

button, .button {
    padding: $spacing-tiny $spacing-small;

    transition: background-color 0.3s ease;
    text-decoration: none;

    color: $color-white;

    border: none;
    border-radius: $spacing-default;
    background-color: $color-orange;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

    @include active-states() {
        background-color: lighten($color-orange, 10%);
    }
}
