/**
 * -----------------------------------------------------------------------------
 * $FORM
 * -----------------------------------------------------------------------------
 */

form {

}

textarea {
    resize: vertical;
    width: 100%;
}

input {
    border: 1px solid $color-grey-light;
}

input[type="submit"] {
    border: none;

    background-color: $color-orange;
    color: $color-white;
    padding: $spacing-tiny $spacing-small;
    border-radius: $spacing-default;

    transition: background-color 0.3s ease;

    @include active-states() {
        background-color: lighten($color-orange, 10%);
    }
}
