/**
 * -----------------------------------------------------------------------------
 * $HEADING
 * -----------------------------------------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;

    font-weight: $font-weight-bold;
}

h1 {
    font-size: $font-size-heading-mobile;
    line-height: $line-height-compact;

    @include bp-min-width($bp-tablet) {
        font-size: $font-size-heading;
    }
}

h2 {
    font-size: $font-size-subheading;
}

h3 {
    font-size: $font-size-large;
}

h4 {

}

h5 {

}

h6 {

}
