/**
 * -----------------------------------------------------------------------------
 * $HR
 * -----------------------------------------------------------------------------
 */

hr, .hr {
    height: 1px;
    color: $color-black;
    background: $color-black;
    font-size: 0;
    border: 0;
}

.hr {
    &--grey {
        color: $color-grey;
        background: $color-grey;
    }

    &--grey-light { 
        color: $color-grey-light;
        background: $color-grey-light;
    }
}
