/**
 * -----------------------------------------------------------------------------
 * $LINK
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the hyperlink elements.
 */

a {
    color: $color-black;
    display: inline-block;
    font-weight: $font-weight-default;
    max-width: 100%;
    text-decoration: none;

    @include active-states() {
        text-decoration: underline;
    }
}
