/**
 * -----------------------------------------------------------------------------
 * $NAV
 * -----------------------------------------------------------------------------
 */

nav {
    display: none;

    @include bp-min-width($bp-tablet) {
        display: block;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
}
