/**
 * -----------------------------------------------------------------------------
 * $NAV
 * -----------------------------------------------------------------------------
 */

nav {
    display: none;

    font-size: $font-size-small;

    @include bp-min-width($bp-desktop) {
        display: block;
    }

    > ul {
        padding-left: 0;

        list-style: none;

        > li {
            border-bottom: 1px solid $color-grey-light;
            cursor:default;

            .sub-menu  {
                height: 0;
                overflow: hidden;

                transition: opacity 0.3s ease-out;

                opacity: 0;
            }

            &.current-menu-ancestor,
            &.current-menu-item,
            &.show-children {
                .sub-menu  {
                    height: auto;

                    opacity: 1;
                }
            }

            &.menu-item-has-children {
                cursor: pointer;
                @include rem(margin-top, $spacing-small);
            }

            &.menu-item-has-children > a {
                @include rem(padding, $spacing-tiny);

                display: block;
                position: relative;

                font-weight: $font-weight-bold;

                &:before {
                    @include svg-chevron-icon();

                    content: '';
                    position: absolute;
                    top: 14px;
                    right: $spacing-tiny;
                    width: 16px;
                    height: 10px;

                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: 0.2s transform ease;
                }

                @include active-states() {
                    text-decoration: none;
                }
            }

            &.show-children > a,
            &.current-menu-item > a {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sub-menu {
        @include rem(margin-bottom, $spacing-small);

        padding-left: 0;

        list-style: none;

        > li {
            @include rem(padding-left, $spacing-tiny);
            @include rem(padding-right, $spacing-tiny);

            > a {
                @include rem(padding-bottom, $spacing-tiny / 2);
                @include rem(padding-left, $spacing-tiny);
                @include rem(padding-right, $spacing-tiny);
                @include rem(padding-top, $spacing-tiny / 2);

                display: block;

                @include active-states() {
                    background-color: $color-grey;
                    color: $color-white;
                    text-decoration: none;
                }
            }

            &.current-menu-item {
                > a {
                    background-color: $color-grey;
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }
    }
}
