<section class="section section--fill section--examples margin--bottom-huge">
	<div class="section__content">
	    <div class="padding--large">
            <h3>Game Examples:</h3>
            <ul class="list examples">
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
                {{> examples__item}}
            <ul>
        </div>
    </div>
</section>
