<h4>Flex</h4>

<div class="flex">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Align Center</h4>

<div class="flex flex--align-center">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Align Start</h4>

<div class="flex flex--align-start">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Align End</h4>

<div class="flex flex--align-end">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Direction Column</h4>

<div class="flex flex--direction-column">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Direction Column Reverse</h4>

<div class="flex flex--direction-column-rev">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Direction Row</h4>

<div class="flex flex--direction-row">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Direction Row Reverse</h4>

<div class="flex flex--direction-row-rev">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Grow</h4>

<div class="flex flex--grow">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Equal</h4>

<div class="flex flex--grow-equal">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Justify Around</h4>

<div class="flex flex--justify-around">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Justify Between</h4>

<div class="flex flex--justify-between">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Justify Center</h4>

<div class="flex flex--justify-center">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Justify Start</h4>

<div class="flex flex--justify-start">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>

<h4>Flex Justify End</h4>

<div class="flex flex--justify-end">
    <div class="padding--default bg--color-grey-lightest">1</div>
    <div class="padding--default bg--color-grey-lightest">2</div>
    <div class="padding--default bg--color-grey-lightest">3</div>
    <div class="padding--default bg--color-grey-lightest">4</div>
    <div class="padding--default bg--color-grey-lightest">5</div>
</div>
