<div class="rate padding--vertical-tiny flex flex--direction-column" id="thumbs-rating-18" data-content-id="18">
    <span class="rate__control rate__control--up padding--horizontal-tiny rate__control--voted" aria-label="click to vote positively on the game example and improve the examples overall ranking score.">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 206.6">
            <path d="M177 7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 103.2l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 177c-9.4-9.4-9.4-24.6 0-33.9L143 7c9.4-9.3 24.6-9.3 34 0z"></path>
        </svg>
    </span>
    <span class="rate--total padding--tiny">5</span>
    <span class="rate__control rate__control--down padding--horizontal-tiny" aria-label="click to vote negatively on the game example and lower the examples overall ranking score.">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 206.6">
            <path d="M177 7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 103.2l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 177c-9.4-9.4-9.4-24.6 0-33.9L143 7c9.4-9.3 24.6-9.3 34 0z"></path>
        </svg>
    </span>
</div>
