/**
 * -----------------------------------------------------------------------------
 * $TRANSFORM
 * -----------------------------------------------------------------------------
 */

.animate {
    animation-iteration-count: infinite;

    &--fade-in { animation-name: fade-in; }
    &--fade-in-hold { animation-name: fade-in-hold; }
    &--fade-in-out { animation-name: fade-in-out; }
    &--fade-in-short { animation-name: fade-in-short; }

    &--fade-in-0-20 { animation-name: fade-in-0-20; }
    &--fade-in-20-40 { animation-name: fade-in-20-40; }
    &--fade-in-40-60 { animation-name: fade-in-40-60; }
    &--fade-in-60-80 { animation-name: fade-in-60-80; }
    &--fade-in-80-100 { animation-name: fade-in-80-100; }

    &--fade-out { animation-name: fade-out; }

    &--grow-horizontal { animation-name: grow-horizontal; }
    &--grow-horizontal-hold { animation-name: grow-horizontal-hold; }
    &--grow-horizontal-loop { animation-name: grow-horizontal-loop; }

    &--rotate-30 { animation-name: rotate-30; }
    &--rotate-30-rev { animation-name: rotate-30-rev; }
    &--rotate-90 { animation-name: rotate-90; }
    &--rotate-360-repeat { animation-name: rotate-360-repeat; }

    &--scale-down { animation-name: scale-down; }
    &--scale-up { animation-name: scale-up; }

    &--shrink-horizontal { animation-name: shrink-horizontal; }
    &--shrink-horizontal-hold { animation-name: shrink-horizontal-hold; }
    &--shrink-horizontal-loop { animation-name: shrink-horizontal-loop; }

    &--slide-horizontal { animation-name: slide-horizontal; }

    &--slide-left { animation-name: slide-left; }
    &--slide-right { animation-name: slide-right; }
}

.animate-delay {
    &--two { animation-delay: 2s; }
    &--four { animation-delay: 4s; }
    &--six { animation-delay: 6s; }
    &--eight { animation-delay: 8s; }
    &--ten { animation-delay: 10s; }
}

.animate-duration {
    &--four { animation-duration: 4s; }
    &--eight { animation-duration: 8s; }
    &--twelve { animation-duration: 12s; }
}


/**
 * FADE-IN
 */

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-hold {
    0%   { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fade-in-out {
    0%   { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-in-short {
    0%   { opacity: 0; }
    25%   { opacity: 0; }
    75%   { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fade-in-0-20 {
    0%   { opacity: 0; }
    100% { opacity: 0.2; }
}

@keyframes fade-in-20-40 {
    0%   { opacity: 0.2; }
    100% { opacity: 0.4; }
}

@keyframes fade-in-40-60 {
    0%   { opacity: 0.4; }
    100% { opacity: 0.6; }
}

@keyframes fade-in-60-80 {
    0%   { opacity: 0.6; }
    100% { opacity: 0.8; }
}

@keyframes fade-in-80-100 {
    0%   { opacity: 0.8; }
    100% { opacity: 1; }
}

/**
 * FADE-OUT
 */

@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


/**
 * GROW
 */

@keyframes grow-horizontal {
    0%   { width: 0%; }
    100% { width: 100%; }
}

@keyframes grow-horizontal-hold {
    0%   { width: 0%; }
    50%   { width: 100%; }
    100% { width: 100%; }
}

@keyframes grow-horizontal-loop {
    0%   { width: 0%; }
    33%   { width: 100%; }
    66%   { width: 100%; }
    100% { width: 0%; }
}


/**
 * ROTATE
 */

@keyframes rotate-30 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-30-rev {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-90 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-360-repeat {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**
 * SCALE
 */

@keyframes scale-down {
    0%   { transform: scale(1); }
    50% { transform: scale(0.8); }
    100%   { transform: scale(1); }
}

@keyframes scale-up {
    0%   { transform: scale(0.8); }
    50%   { transform: scale(1); }
    100% { transform: scale(0.8); }
}

/**
 * SHRINK
 */

@keyframes shrink-horizontal {
    0%   { width: 100%; }
    100% { width: 0%; }
}

@keyframes shrink-horizontal-hold {
    0%   { width: 100%; }
    50%   { width: 0%; }
    100% { width: 0%; }
}

@keyframes shrink-horizontal-loop {
    0%   { width: 100%; }
    33%   { width: 0%; }
    66%   { width: 0%; }
    100% { width: 100%; }
}


/**
 * SLIDE
 */

@keyframes slide-horizontal {
    0%   { transform: translateX(0); }
    30%   { transform: translateX(50px); }
    70%   { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}

@keyframes slide-left {
    0%   { transform: translateX(0); }
    100%   { transform: translateX(-50px); }
}

@keyframes slide-right {
    0%   { transform: translateX(0); }
    100%   { transform: translateX(50px); }
}
