/**
 * -----------------------------------------------------------------------------
 * $TRANSFORM
 * -----------------------------------------------------------------------------
 */

.animate {
    animation-iteration-count: infinite;

    &--grow-horizontal { animation-name: grow-horizontal; }
    &--grow-horizontal-hold { animation-name: grow-horizontal-hold; }

    &--rotate-30 { animation-name: rotate-30; }
    &--rotate-30-rev { animation-name: rotate-30-rev; }
    &--rotate-90 { animation-name: rotate-90; }
    &--rotate-360-repeat { animation-name: rotate-360-repeat; }

    &--slide-horizontal { animation-name: slide-horizontal; }
}

.animate-duration {
    &--four { animation-duration: 4s; }
    &--eight { animation-duration: 8s; }
    &--twelve { animation-duration: 12s; }
}


/**
 * GROW
 */

@keyframes grow-horizontal {
    0%   { width: 0%; }
    100% { width: 100%; }
}

@keyframes grow-horizontal-hold {
    0%   { width: 0%; }
    50%   { width: 100%; }
    100% { width: 100%; }
}


/**
 * ROTATE
 */

@keyframes rotate-30 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-30-rev {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-90 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-360-repeat {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**
 * SLIDE
 */

@keyframes slide-horizontal {
    0%   { transform: translateX(0); }
    30%   { transform: translateX(50px); }
    70%   { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}
