/**
 * -----------------------------------------------------------------------------
 * $TRANSFORM
 * -----------------------------------------------------------------------------
 */

.animate {
    animation-iteration-count: infinite;

    &--fade-in { animation-name: fade-in; }
    &--fade-in-hold { animation-name: fade-in-hold; }
    &--fade-in-out { animation-name: fade-in-out; }
    &--fade-in-short { animation-name: fade-in-short; }

    &--grow-horizontal { animation-name: grow-horizontal; }
    &--grow-horizontal-hold { animation-name: grow-horizontal-hold; }

    &--rotate-30 { animation-name: rotate-30; }
    &--rotate-30-rev { animation-name: rotate-30-rev; }
    &--rotate-90 { animation-name: rotate-90; }
    &--rotate-360-repeat { animation-name: rotate-360-repeat; }

    &--slide-horizontal { animation-name: slide-horizontal; }
}

.animate-delay {
    &--two { animation-delay: 2s; }
    &--four { animation-delay: 4s; }
    &--six { animation-delay: 6s; }
    &--eight { animation-delay: 8s; }
    &--ten { animation-delay: 10s; }
}

.animate-duration {
    &--four { animation-duration: 4s; }
    &--eight { animation-duration: 8s; }
    &--twelve { animation-duration: 12s; }
}


/**
 * FADE
 */

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-hold {
    0%   { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fade-in-out {
    0%   { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-in-short {
    0%   { opacity: 0; }
    25%   { opacity: 0; }
    75%   { opacity: 1; }
    100% { opacity: 1; }
}


/**
 * GROW
 */

@keyframes grow-horizontal {
    0%   { width: 0%; }
    100% { width: 100%; }
}

@keyframes grow-horizontal-hold {
    0%   { width: 0%; }
    50%   { width: 100%; }
    100% { width: 100%; }
}


/**
 * ROTATE
 */

@keyframes rotate-30 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-30-rev {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-90 {
    0%   { transform: rotate(0deg); }
    50%   { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-360-repeat {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**
 * SLIDE
 */

@keyframes slide-horizontal {
    0%   { transform: translateX(0); }
    30%   { transform: translateX(50px); }
    70%   { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}
