/**
 * -----------------------------------------------------------------------------
 * $BORDER
 * -----------------------------------------------------------------------------
 */

.border-radius {

    &--circle {
        border-radius: 50%;
    }
}
