/*/////////////////////////////////////////
/// DISPLAY
*/////////////////////////////////////////

.display {
    &--block { display: block; }
    &--flex { display: flex; }
    &--inline { display: inline; }
    &--inline-block { display: inline-block; }
}

/*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
.display--hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body:hover .display--hidden a,
body:hover .display--hidden input,
body:hover .display--hidden button {
    display: none !important;
}
