/**
 * -----------------------------------------------------------------------------
 * $OPACITY
 * -----------------------------------------------------------------------------
 */


.opacity {
    &--none { opacity: 0; }
    &--full { opacity: 1; }
}
