/**
 * -----------------------------------------------------------------------------
 * $SPACING
 * -----------------------------------------------------------------------------
 */

/**
 * Utility classes for dictating margin or padding.
 */

.margin--tiny { margin: $spacing-tiny; }
.margin--small { margin: $spacing-small; }
.margin--default { margin: $spacing-default; }
.margin--large { margin: $spacing-large; }
.margin--huge { margin: $spacing-huge; }

.margin--bottom-tiny { @include rem(margin-bottom, $spacing-tiny); }
.margin--bottom-small { @include rem(margin-bottom, $spacing-small); }
.margin--bottom-default { @include rem(margin-bottom, $spacing-default); }
.margin--bottom-large { @include rem(margin-bottom, $spacing-large); }
.margin--bottom-huge { @include rem(margin-bottom, $spacing-huge)}
.margin--bottom-none { margin-bottom: 0 !important; }

.margin--horizontal-tiny { @include rem(margin-left, $spacing-tiny); @include rem(margin-right, $spacing-tiny); }
.margin--horizontal-small { @include rem(margin-left, $spacing-small); @include rem(margin-right, $spacing-small); }
.margin--horizontal-default { @include rem(margin-left, $spacing-default); @include rem(margin-right, $spacing-default); }
.margin--horizontal-large { @include rem(margin-left, $spacing-large); @include rem(margin-right, $spacing-large); }
.margin--horizontal-huge { @include rem(margin-left, $spacing-huge); @include rem(margin-right, $spacing-huge); }
.margin--horizontal-auto { margin-left: auto; margin-right: auto; }
.margin--horizontal-none { margin-left: 0; margin-right: 0; }

.margin--left-tiny { @include rem(margin-left, $spacing-tiny); }
.margin--left-small { @include rem(margin-left, $spacing-small); }
.margin--left-default { @include rem(margin-left, $spacing-default); }
.margin--left-large { @include rem(margin-left, $spacing-large); }
.margin--left-huge { @include rem(margin-left, $spacing-huge); }
.margin--left-none { margin-left: 0; }

.margin--right-tiny { @include rem(margin-right, $spacing-tiny); }
.margin--right-small { @include rem(margin-right, $spacing-small); }
.margin--right-default { @include rem(margin-right, $spacing-default); }
.margin--right-large { @include rem(margin-right, $spacing-large); }
.margin--right-huge { @include rem(margin-right, $spacing-huge); }
.margin--right-none { margin-right: 0; }

.margin--top-tiny { @include rem(margin-top, $spacing-tiny); }
.margin--top-small { @include rem(margin-top, $spacing-small); }
.margin--top-default { @include rem(margin-top, $spacing-default); }
.margin--top-large { @include rem(margin-top, $spacing-large); }
.margin--top-huge { @include rem(margin-top, $spacing-huge); }
.margin--top-none { margin-top: 0; }

.padding--tiny { @include rem(padding, $spacing-tiny); }
.padding--small { @include rem(padding, $spacing-small); }
.padding--default { @include rem(padding, $spacing-default); }
.padding--large { @include rem(padding, $spacing-large); }
.padding--huge { @include rem(padding, $spacing-huge); }
.padding--none { padding: 0; }

.padding--bottom-tiny { @include rem(padding-bottom, $spacing-tiny); }
.padding--bottom-small { @include rem(padding-bottom, $spacing-small); }
.padding--bottom-default { @include rem(padding-bottom, $spacing-default); }
.padding--bottom-large { @include rem(padding-bottom, $spacing-large); }
.padding--bottom-huge { @include rem(padding-bottom, $spacing-huge)}
.padding--bottom-none { padding-bottom: 0 !important; }

.padding--horizontal-tiny { @include rem(padding-left, $spacing-tiny); @include rem(padding-right, $spacing-tiny); }
.padding--horizontal-small { @include rem(padding-left, $spacing-small); @include rem(padding-right, $spacing-small); }
.padding--horizontal-default { @include rem(padding-left, $spacing-default); @include rem(padding-right, $spacing-default); }
.padding--horizontal-large { @include rem(padding-left, $spacing-large); @include rem(padding-right, $spacing-large); }
.padding--horizontal-huge { @include rem(padding-left, $spacing-huge); @include rem(padding-right, $spacing-huge); }
.padding--horizontal-none { padding-left: 0 !important; padding-right: 0 !important; }

.padding--left-tiny { @include rem(padding-left, $spacing-tiny); }
.padding--left-small { @include rem(padding-left, $spacing-small); }
.padding--left-default { @include rem(padding-left, $spacing-default); }
.padding--left-large { @include rem(padding-left, $spacing-large); }
.padding--left-huge { @include rem(padding-left, $spacing-huge)}
.padding--left-none { padding-left: 0 !important; }

.padding--right-tiny { @include rem(padding-right, $spacing-tiny); }
.padding--right-small { @include rem(padding-right, $spacing-small); }
.padding--right-default { @include rem(padding-right, $spacing-default); }
.padding--right-large { @include rem(padding-right, $spacing-large); }
.padding--right-huge { @include rem(padding-right, $spacing-huge)}
.padding--right-none { padding-right: 0 !important; }

.padding--top-tiny { @include rem(padding-top, $spacing-tiny); }
.padding--top-small { @include rem(padding-top, $spacing-small); }
.padding--top-default { @include rem(padding-top, $spacing-default); }
.padding--top-large { @include rem(padding-top, $spacing-large); }
.padding--top-huge { @include rem(padding-top, $spacing-huge)}
.padding--top-none { padding-top: 0 !important; }

.padding--vertical-tiny { @include rem(padding-bottom, $spacing-tiny); @include rem(padding-top, $spacing-tiny); }
.padding--vertical-small { @include rem(padding-bottom, $spacing-small); @include rem(padding-top, $spacing-small); }
.padding--vertical-default { @include rem(padding-bottom, $spacing-default); @include rem(padding-top, $spacing-default); }
.padding--vertical-large { @include rem(padding-bottom, $spacing-large); @include rem(padding-top, $spacing-large); }
.padding--vertical-huge { @include rem(padding-bottom, $spacing-huge); @include rem(padding-top, $spacing-huge); }
.padding--vertical-none { padding-bottom: 0 !important; padding-top: 0 !important; }
