/**
 * -----------------------------------------------------------------------------
 * $TEXT
 * -----------------------------------------------------------------------------
 */

.text--italic { font-style: italic; }

.text--grey-light { color: $color-grey-light; }
.text--grey { color: $color-grey; }

.text--large { font-size: $font-size-large; }
