/**
 * -----------------------------------------------------------------------------
 * $TRANSFORM
 * -----------------------------------------------------------------------------
 */

.transform-origin {
    &--left-top { transform-origin: left top;}
    &--left-center { transform-origin: left center;}
    &--left-bottom { transform-origin: left bottom;}

    &--center-top { transform-origin: center top;}
    &--center-center { transform-origin: center center;}
    &--center-bottom { transform-origin: center bottom;}

    &--right-top { transform-origin: right top;}
    &--right-center { transform-origin: right center;}
    &--right-bottom { transform-origin: right bottom;}
}
