/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

$aside-width: 300px;

/**
 * BORDERS
 */

$border-radius-default: 3px;

/**
 * BREAKPOINTS
 */

$bp-mobile-small: 320px;
$bp-mobile: 375px;
$bp-mobile-large: 425px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-medium: 1440px;
$bp-desktop-large: 1920px;

/**
 * CONTENT
 */

$content-width: 850px;
$content-width-large: 1560px;

/**
 * COLOURS
 */

$color-black: #151615;
$color-grey-lightest: #f8f8f8;
$color-grey-light: #ebebeb;
$color-grey: #909090;
$color-grey-dark: #737373;
$color-white: #fff;

$color-blue: #366db6;
$color-blue-light: #619cea;
$color-orange: #ef6c07;

$base-unit: 12px;

$spacing-tiny: .5rem;
$spacing-small: 1rem;
$spacing-default: 2rem;
$spacing-large: 4rem;
$spacing-huge: 6rem;

/**
 * FONT
 */

$font-family-default: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;

$font-size-small: 1rem;
$font-size-default: 20px;
$font-size-large: 1.825rem;

$font-size-heading: 4.5rem;
$font-size-subheading: 3rem;

$font-size-heading-mobile: 3rem;
$font-size-subheading-mobile: 2rem;

$font-weight-default: 400;
$font-weight-bold: 700;

$line-height-compact: 1;
$line-height-default: 1.4;
$line-height-loose: 1.7;
