/*/////////////////////////////////////////
/// VARS
*/////////////////////////////////////////


/*/////////////////
/// COLOURS
*//////////////////

$color-white: #fff;
$color-white-off: #f8f8f8;
$color-grey: #bbb;
$color-black: #212121;

$color-primary: #000;
$color-secondary: #000;
$color-teritiary: #000;


/*/////////////////
/// BREAKPOINTS
*//////////////////

$bp-mobile-small: 320px;
$bp-mobile: 375px;
$bp-mobile-large: 425px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-medium: 1440px;
$bp-desktop-large: 1920px;
